<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<link rel="icon" href="images/logo2.png">
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap-social/bootstrap_social.css">
	<link rel="stylesheet" type="text/css" id="styledark" href="css/stylesdark.css">
	<title>Hardcopy.com | About</title>
</head>
<body>
<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
	<div class="container">
		<button class="navbar-toggler" data-toggle="collapse" data-target="#navig"><span class="fa fa-bars fa-lg"></span></button>
		<a href="#" class="navbar-brand"><img src="images/logo2.png" width="70" height="50"></a>
		<div class="collapse navbar-collapse" id="navig">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item main-nav"><a class="nav-link" href="index.html" id="first-nav"><span class="fa fa-home fa-lg"></span><strong> Home</strong></a></li>
				<li class="nav-item main-nav active"><a href="#" class="nav-link" id="first-nav"><span class="fa fa-info-circle fa-lg"></span><strong> About</strong></a></li>
				<li class="nav-item main-nav"><a href="contact.html" class="nav-link" id="first-nav"><span class="fa fa-address-card fa-lg"></span><strong> Contact</strong></a></li>
				<li class="nav-item main-nav"><a class="nav-link contributor" id="first-nav"><span class="fa fa-angle-double-down fa-lg"></span><strong> Contribute</strong></a></li>
				<li class="nav-item main-nav"><a href="cart.html" class="nav-link" id="first-nav"><span class="fa fa-shopping-cart fa-lg"></span><strong> Cart</strong></a></li>
				<li class="nav-item main-nav"><a class="nav-link theme"><img src="images/lighttheme.png"></a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="modal fade" id="contributemodal" role="dialog">
	<div class="modal-dialog modal-lg" role="content">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">Contribute to help Hardcopy grow!</h2>
				<span class="close" data-dismiss="modal">
					&times;
				</span>
			</div>
		</div>
		<div class="modal-body modal-dark">
			<div class="row">
				<div class="col-6">
					<div class="card">
						<div class="card-header donor-head">
							<h3>Donate</h3>
						</div>
						<div class="card-body" id="donor-body">
							<h5>I don't partake any of the delivery cost, so I would really feel motivated if you could contribute to help me keep this running!</h5>
							<h5>Not compulsary at all, only those who can afford to should do it! I hope that you rather take full advantage of such a website.</h5>
							<div class="text-center">
								<button class="btn btn-primary" id="donate-btn"><span class="fa fa-usd fa-lg"></span> Donate!</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="card">
						<div class="card-header donor-head">
							<h3>Upload</h3>
						</div>
						<div class="card-body" id="donor-body">
							<h5>Hardcopy needs books, and any book that you feel you have read enough can be donated over here, with quality measures.</h5>
							<h5>This website runs on contributions in the form of books, so this is something I encourage everyone of you to actively participate in!</h5>
							<div class="text-center">
								<button class="btn btn-primary" id="donate-btn"><span class="fa fa-upload fa-lg"></span> Upload!</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<header class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<h1>What is Hardcopy and why in the world, should you care?</h1>
					<br><br>
					<h3>Read on, to find whether this website is for you.</h3>
					<br>
					<h5>Psst! This page also has the FAQs so keep a lookout just in case you have any query!!</h5>
				</div>
				<div class="col-12 col-sm-6 align-self-center text-center">
				<img src="images/logo2.png" height="250" width="300" id="central-logo">
			</div>
			</div>
		</div>
	</header>
<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<h2 id="high"> Purpose <span class="fa fa-puzzle-piece fa-lg"></span></h2>
			<h5>Just to help all of you, yes you who is reading this, to help you to freely obtain the hardcopy of any book you like literally for free!</h5>
			<h5>Used books which satisfy a set of quality values(Mentioned over here), will be offered to you with very little hustles and for free!!</h5>
			<br><br>
		</div>
		<div class="col-sm-4">
			<h2 id="kindan"> System <span class="fa fa-wrench fa-lg" id="kindan"></span></h2>
			<h5>If you are curious how Hardcopy works, then just know that I am a facilitator for all of you to offer your used books and to obtain used books for free! (quality will be maintained be rest assured!)</h5>
			<h5>The email address of the donor will be shared with the recepient so you can easily communicate.</h5>
		</div>
		<div class="col-sm-4">
			<h2 id="crux"> Available <span class="fa fa-smile-o fa-lg" id="crux"></span></h2>
			<h5>I am always available to answer any of your queries. I love obtaining feedback and criticism, and hence do feel free to always contact me.</h5>
			<h5>Issues related to books, or issues related to the system or even if you feel an idea popping in your head, that can help, then please do mail me! I will reply asap.</h5>
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-header" id="me">
					<h2 class="text-center">About Me</h2>
				</div>
				<div class="card-body">
					<div class="media">
					<img src="images/Myself.jpg" class=" img-thumbnail img-fluid">
					<div class="media-body" id="myself">
						<h5 class="text-center">Hi everyone, myself Akhilraj Nambiar and I am the founder and CEO of this website. I am a practising full-stack developer, and I hope that I can always solve any problem that you encounter here! <a href="contact.html">Contact me</a> in case you feel any functional or design errors or any sort of other issues related to this product.</h5>
				</div>
			</div>
				</div>
			</div>			
		</div>
	</div>
	<br><br><br>
	<div class="text-center">
		<h2 id="faq-head">FAQs(Frequently Asked Questions) <span class="fa fa-question-circle fa-lg"></span></h2>
	</div>
	<div id="accordion">
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="card-header" data-toggle="collapse" data-target="#faq1">
						<h3>
						Why should I pay 40&#8377; as a fee?
						</h3>
					</div>
					<div class="card-body collapse show" data-parent="#accordion" id="faq1">
						<h6>Well, just because I have to pay the delivery service which I am partnering with. I assure you I don't take any extra cost!</h6>
					</div>
				</div>
				<div class="card">
					<div class="card-header" data-toggle="collapse" data-target="#faq2">
						<h3>
						What about books with MRP less than 40&#8377;?
						</h3>
					</div>
					<div class="card-body collapse" data-parent="#accordion" id="faq2">
						<h6>5&#8377; delivery charge for all books that have MRP below 40&#8377;</h6>
					</div>
				</div>
				<div class="card">
					<div class="card-header" data-toggle="collapse" data-target="#faq3">
						<h3>
						Will the book be delivered to my doorstep every time I order it?
						</h3>
					</div>
					<div class="card-body collapse" data-parent="#accordion" id="faq3">
						<h6>Yes, of course! You can sign up to avoid filling up the address section every time you order a book.</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-3">
				<ul class="list-unstyled" id="foot">
					<li><b>Navigation</b></li>
					<li><a href="#" id="tap-link1"><span class="fa fa-home fa-lg" id="tap1"></span> Home</a></li>
					<li><a href="about.html" id="tap-link2"><span class="fa fa-info-circle fa-lg" id="tap2"></span> About</a></li>
					<li><a href="#" id="tap-link3"><span class="fa fa-address-card fa-lg" id="tap3"></span> Contact</a></li>
					<li><a href="#" id="tap-link4"><span class="fa fa-upload fa-lg" id="tap4"></span> Upload</a></li>
					<li><a href="#" id="tap-link5"><span class="fa fa-gift fa-lg" id="tap5"></span> Donate</a></li>
					<li><a href="#" id="tap-link6"><span class="fa fa-question-circle fa-lg" id="tap6"></span> FAQ</a></li>
				</ul>
			</div>
			<div class="col-3 offset-2">
				<ul class="list-unstyled" id="foot">
					<li><b>Genres</b></li>
					<li><a href="#" id="cap-link1"><span class="fa fa-fort-awesome fa-lg" id="cap1"></span> Fiction</a></li>
					<li><a href="#" id="cap-link2"><span class="fa fa-book fa-lg" id="cap2"></span> Non-Fiction</a></li>
					<li><a href="#" id="cap-link3"><span class="fa fa-heart fa-lg" id="cap3"></span> Romance</a></li>
					<li><a href="#" id="cap-link4"><span class="fa fa-user fa-lg" id="cap4"></span> Biographies</a></li>
					<li><a href="#" id="cap-link5"><span class="fa fa-superpowers fa-lg" id="cap5"></span> Comics</a></li>
				</ul>
			</div>
			<div class="col-12 col-sm-4" id="foot">
				<ul class="list-unstyled">
					<li><b>Connect</b></li>
					<li><a href="tel:9321685956" id="map-link1"><span class="fa fa-phone fa-lg" id="map1"></span> Call</a></li>
					<li><a href="mailto:nambiarakhilraj01@gmail.com" id="map-link2"><span class="fa fa-envelope fa-lg" id="map2"></span> Mail</a></li>
				</ul>
 			</div>
		</div>
	</div>
</footer>
<script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
<script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>