{% extends 'layout.html' %}
{% block for_logo %}
    <img src="{{ url_for('static',filename='admin_images/logo2.png') }}" height="250" width="300" id="central-logo">
{% endblock for_logo %}
{% block pagewelcome %}
	<h1 class="text-center">{{ book.book_name }}</h1>
	<h4 class="text-muted text-center">By {{ book.author_name }}</h4>
{% endblock pagewelcome %}
{% block content %}
	<div class="row">
		<div class="col-sm-6">
			<img src="{{ url_for('static', filename = 'users_images/'+book.book_front) }}" style="max-width: 100%; max-height: 100%" class="mb-5">
		</div>
		<div class="col-sm-6">
			<center>
				<h3 class="donor_specs"><img src="{{ url_for('static',filename='admin_images/celebrate.png') }}" width="50" height="50">Donated by <a>{{ book.provided_by.username }}</a><img src="{{ url_for('static',filename='admin_images/celebrate_reverse.png') }}" width="50" height="50"></h3>
			</center>
			<br><br>
			<center>
				<div class="row">
					<div class="col-sm-6">
						<form method="POST" action="{{ url_for('main.create_checkout_session',book_id=book.id)}}">
							<button class="btn btn-success btn-lg" style="border: solid 1px darkgreen; border-bottom: solid 5px darkgreen" type="submit" name="	orderbtn" value="{{ book.id }}">
								<span class="fa fa-play fa-lg"></span> &nbsp;<b>Order Book</b>
							</button>
						</form>
					</div>
					<div class="col-sm-6">
						{% if in_the_cart %}
							<form method="POST" action="{{ url_for('users.remove_from_cart', user_id = current_user.id) }}">
								<button class="btn btn-warning btn-lg" style="border: solid 1px orange; border-bottom: solid 5px orange" type="submit" name="cartremovebtn" value="{{ book.id }}">
									<span><img src="{{ url_for('static',filename = 'admin_images/cart-minus.svg') }}" width="30" height="30"></span> &nbsp;<b>Remove from cart</b>
								</button>
							</form>
						{% else %}
							{% if current_user.is_authenticated %}
								<form method="POST" action="{{ url_for('users.add_to_cart', user_id = current_user.id) }}">
									<button class="btn btn-warning btn-lg" style="border: solid 1px orange; border-bottom: solid 5px orange" type="submit" name="cartbtn" value="{{ book.id }}">
										<span class="fa fa-cart-plus fa-lg"></span> &nbsp;<b>Add to Cart</b>
									</button>
								</form>
							{% else %}
								<form method="POST" action="{{ url_for('users.add_to_cart_for_no_user')}}">
									<button class="btn btn-warning btn-lg" style="border: solid 1px orange; border-bottom: solid 5px orange" type="submit" name="cartbtn" value="{{ book.id }}">
										<span class="fa fa-cart-plus fa-lg"></span> &nbsp;<b>Add to Cart</b>
									</button>
								</form>
							{% endif %}
						{% endif %}
					</div>
				</div>
			</center>
			<br><br>
			<center>
				<h4>Rate the content of this book</h4>
				<div>
					{% for i in range(5) %}
						<img src="{{ url_for('static',filename='admin_images/rating.png') }}" width="50" height="50" id="star_{{i}}">&nbsp;
					{% endfor %}
					&nbsp;<img class="mt-2" id="ratings" src="{{ url_for('static', filename='admin_images/neutral.png') }}" width="60" height="50">
				</div>
			</center>
			<br><br>
			<center>
				<h4>Rate the condition of this book</h4>
				<div>
					{% for i in range(5) %}
						<img src="{{ url_for('static',filename='admin_images/rating.png') }}" width="50" height="50" id="star1_{{i}}">&nbsp;
					{% endfor %}
					&nbsp;<img class="mt-2" id="ratings1" src="{{ url_for('static', filename='admin_images/neutral.png') }}" width="60" height="50">
				</div>
			</center>
		</div>
	</div>
	<br><br>
	<h2 class="text-center" id="AAbnd">View from other sides</h2>
	<ul class="nav nav-tabs nav-fill view_tab">
		<li class="nav-item"><a href="#backview" class="nav-link active" data-toggle="tab" role="tab">Back View</a></li>
		<li class="nav-item"><a href="#topview" class="nav-link" data-toggle="tab" role="tab">Top View</a></li>
		<li class="nav-item"><a href="#bottomview" class="nav-link" data-toggle="tab" role="tab">Bottom View</a></li>
		<li class="nav-item"><a href="#leftview" class="nav-link" data-toggle="tab" role="tab">Left View</a></li>
		<li class="nav-item"><a href="#rightview" class="nav-link" data-toggle="tab" role="tab">Right View</a></li>
	</ul>
	<div class="tab-content view_diff">
		<div class="tab-pane fade show active text-center" role="tabpanel" id="backview">
			<img src="{{ url_for('static', filename='users_images/'+book.book_back) }}" style="max-height: 50%; max-width: 50%">
		</div>
		<div class="tab-pane fade text-center" id="topview" role="tabpanel">
			<img src="{{ url_for('static', filename='users_images/'+book.book_top) }}" style="max-height: 50%; max-width: 50%">
		</div>
		<div class="tab-pane fade text-center" id="bottomview" role="tabpanel">
			<img src="{{ url_for('static', filename='users_images/'+book.book_bottom) }}" style="max-height: 50%; max-width: 50%">
		</div>
		<div class="tab-pane fade text-center" id="leftview" role="tabpanel">
			<img src="{{ url_for('static', filename='users_images/'+book.book_left) }}" style="max-height: 50%; max-width: 50%">
		</div>
		<div class="tab-pane fade text-center" id="rightview" role="tabpanel">
			<img src="{{ url_for('static', filename='users_images/'+book.book_right) }}" style="max-height: 50%; max-width: 50%">
		</div>
	</div>
	<br><br>
	{% if other_books_by_author.count() > 1 %}
		<h2>More books by {{ book.author_name }}</h2>
		<div class="row">
			{% for other in other_books_by_author %}
				{% if other.book_name != book.book_name %}
					<div class="col-6 col-sm-4 col-xl-3 text-center books  mb-2">
						<figure class="mt-4">
							<img src="{{ url_for('static', filename='users_images/' + other.book_front) }}" width="145" height="220" class="book_image">
							<figcaption>
								<h5 style="color: white"><a href="{{ url_for('books.book_page', book_id=other.id) }}" class="book_link">{{ other.book_name }}</a></h5>
								<h5><small class="text-muted">By {{ other.author_name }}</small></h5>
							</figcaption>
						</figure>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	{% endif %}
{% endblock content %}