{% extends 'layout.html' %}
{% block cart %}
    active
{% endblock cart %}
{% block for_logo %}
	<img src="{{ url_for('static',filename='admin_images/logo2.png') }}" height="250" width="300" id="central-logo">
{% endblock for_logo %}
{% block pagewelcome %}
	<h1>{{ current_user.username }}'s cart</h1>
{% endblock pagewelcome %}
{% block content %}
	<div class="row">
		{% if current_user.is_authenticated %}
			{% for book in books %}
				<div class="col-6 col-sm-4 col-xl-3 text-center books  mb-2">
					<figure class="mt-4">
						<img src="{{ url_for('static', filename='users_images/' + book.book_front) }}" width="145" height="220" class="book_image">
						<figcaption>
							<h5 style="color: white"><a href="{{ url_for('books.book_page', book_id=book.id) }}" class="book_link">{{ book.book_name }}</a></h5>
							<h5><small class="text-muted">By {{ book.author_name }}</small></h5>
						</figcaption>
					</figure>
					<form method="POST" action="{{ url_for('users.remove_from_cart', user_id = current_user.id) }}">
						<button class="btn btn-danger btn-lg" style="border: solid 1px darkred; border-bottom: solid 5px darkred" type="submit" name="cartremovebtn" value="{{ book.id }}">
							<span><img src="{{ url_for('static',filename = 'admin_images/cart-minus.svg') }}" width="30" height="30"></span> &nbsp;<b>Remove</b>
						</button>
					</form>
				</div>
			{% endfor %}
		{% endif %}
	</div>
{% endblock content %}