{% extends 'layout.html' %}
{% block for_logo %}
    <img src="{{ url_for('static',filename='admin_images/logo2.png') }}" height="250" width="300" id="central-logo">
{% endblock for_logo %}
{% block pagewelcome %}
    <h1>Comics</h1>  
    <h4 class="text-muted">Marvel, DC, ACK or Suppandi, comics bring a sense of childhood in every individual. Find a way back to childhood over here!</h4>
{% endblock pagewelcome %}
{% block content %}
	<div class="row mt-3">
		{% for book in books %}
			{% if book.genre == 'Comics' and book.ordered_by == None %}
				<div class="col-sm-4 text-center books  mb-2">
					<figure class="mt-4">
						<img src="{{ url_for('static', filename='users_images/' + book.book_front) }}" width="145" height="220" class="book_image">
						<figcaption>
							<h5 style="color: white"><a href="{{ url_for('books.book_page', book_id=book.id) }}" class="book_link">{{ book.book_name }}</a></h5>
							<h5><small class="text-muted">By {{ book.author_name }}</small></h5>
						</figcaption>
					</figure>
				</div>
			{% endif %}
		{% endfor %}
	</div>
{% endblock content %}