{% extends 'layout.html' %}
{% block home %}
    active
{% endblock home %}
{% block for_logo %}
	<img src="{{ url_for('static',filename='admin_images/logo2.png') }}" height="250" width="300" id="central-logo">
{% endblock for_logo %}
{% block pagewelcome %}
	<h1>Do you want to obtain Hardcopy of your favourite books for free?</h1>
	<br>
	<h5 class="text-muted">Hardcopy is the website that you might have dreamt of!! And guess what, the dream has come true.</h5>
{% endblock pagewelcome %}
{% block content %}
	<div class="row">
		<div class="col-12 justify-content-center">
			<h1 class="text-center" id="genre-header">Genres</h1>
		</div>
	</div>
	<div class="row genre-list">
		<div class="col-6 col-lg-4">
			<a href="{{ url_for('fiction') }}">
				<div class="card genre-1 mt-3 mb-3">
					<div class="card-header pt-5 pb-5">
						<div class="row">
							<div class="col-12 genre-image-1 text-center">
								<i class="fa fa-book-open fa-lg"></i>
							</div>
							<div class="col-12 text-center">
								<p>Fiction</p>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="col-6 col-lg-4">
			<a href="{{ url_for('non_fiction') }}">
				<div class="card genre-2 mt-3 mb-3">
					<div class="card-header pt-5 pb-5">
						<div class="row">
							<div class="col-12 genre-image-2 text-center">
								<i class="fa fa-book-open fa-lg"></i>
							</div>
							<div class="col-12 text-center">
								<p>Non-fiction</p>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="col-6 col-lg-4">
			<a href="{{ url_for('comics') }}">
				<div class="card genre-3 mt-3 mb-3">
					<div class="card-header pt-5 pb-5">
						<div class="row">
							<div class="col-12 genre-image-3 text-center">
								<i class="fa fa-book-open fa-lg"></i>	
							</div>
							<div class="col-12 text-center">
								<p>Comics</p>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="col-6 col-lg-4">
			<a href="{{ url_for('biography') }}">
				<div class="card genre-4 mt-3 mb-3">
					<div class="card-header pt-5 pb-5">
						<div class="row">
							<div class="col-12 genre-image-4 text-center">
								<i class="fa fa-book-open fa-lg"></i>
							</div>
							<div class="col-12 text-center">
								<p>Biography</p>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="col-6 col-lg-4">
			<a href="{{ url_for('romance') }}">
				<div class="card genre-5 mt-3 mb-3">
					<div class="card-header pt-5 pb-5">
						<div class="row">
							<div class="col-12 genre-image-5 text-center">
								<i class="fa fa-book-open fa-lg"></i>
							</div>
							<div class="col-12 text-center">
								<p>Romance</p>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="col-6 col-lg-4">
			<a href="{{ url_for('personality') }}">
				<div class="card genre-6 mt-3 mb-3">
					<div class="card-header pt-5 pb-5">
						<div class="row">
							<div class="col-12 genre-image-6 text-center">
								<i class="fa fa-book-open fa-lg"></i>
							</div>
							<div class="col-12 text-center">
								<p>Self-Help</p>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-12 text-center">
			<h2 id="bdhead">What is Hardcopy?</h2>
		</div>
	</div>
	<div class="row row-content">
		<div class="col-sm-4">
			<p><span class="fa fa-book fa-lg" id="p1"></span></p>
			<p class="text-muted" style="font-weight: bold; font-size: 22px">This is a website that will offer you used,quality hardcopy of books for free! Yes, the books won't be ebooks, and all those who complain, that they are not able to read for long hours in ebooks, then this website is absolutely for them.</p>
		</div>
		<div class="col-sm-4">
			<p><span class="fa fa-tags fa-lg" id="p2"></span></p>
			<p class="text-muted" style="font-weight: bold; font-size: 22px">The only thing you got to pay for is the delivery charge which is 40&#8377; for Indian residents, and only 2$ in case of every other reader outside India. Now I hope it won't be repelling you from using this, as the delivery service needs payment from me!</p>
		</div>
		<div class="col-sm-4">
			<p><span class="fa fa-thumbs-up" id="p3"></span></p>
			<p class="text-muted" style="font-weight: bold; font-size: 22px">Easily buy whatever book you want, by just clicking on it and basically for free. Uploading books is also free for all you wonderful people, and do not at all hesitate in uploading the books, before they lose out on quality!</p>
		</div>
	</div>
{% endblock content %}