{% extends 'layout.html' %}
{% block pagewelcome %}
    <h1>Login Here</h1>
    <h4>Welcome back dear reader! Hope you have a good time</h4>
{% endblock pagewelcome %}
{% block content %}
    <form method="POST" action="">
        {{ form.hidden_tag() }} 
        <div class="form-group row">
            <div class="col-12">
                {{ form.email.label(class='form-label') }}
                {% if form.email.errors %}
                    {{ form.email(class='form-control form-control-lg is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email( class='form-control form-control-lg' ) }}
                {% endif %}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                {{ form.password.label(class='form-label') }}
                {% if form.password.errors %}
                    {{ form.password(class='form-control form-control-lg is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password( class='form-control form-control-lg' ) }}
                {% endif %}
            </div>
        </div>
        <div class="form-group row align-items-center">
            <div class="col-6">
                {{ form.submit( class='btn btn-primary submit_button pr-5 pl-5' ) }}
            </div>
            <div class='col-6'>
                {{ form.remember( class='form-check-input' ) }}
                <span><h5>{{ form.remember.label( class='form-check-label' ) }}</h5></span>
            </div>
        </div>
    </form>
{% endblock content %}