{% extends 'layout.html' %}
{% block for_logo %}
    <img src="{{ url_for('static',filename='admin_images/logo2.png') }}" height="250" width="300" id="central-logo">
{% endblock for_logo %}
{% block pagewelcome %}
    <h1>Non-fiction</h1>  
    <h4 class="text-muted">Information and content explanation, gave us non-fiction. Find your subject and read on!</h4>
{% endblock pagewelcome %}
{% block content %}
	<div class="nav-holder">
		<ul class="row justify-content-center nav nav-pills nav-fill">
			<li class="col-lg-3 col-sm-4 col-6 nav-item">
				<a href="#computer" class="nav-link active" role='pill' data-toggle="pill">Computers and Technology</a>
			</li>
			<li class="col-lg-3 col-sm-4 col-6 nav-item">
				<a href="#encylopedia" class="nav-link" role='pill' data-toggle="pill">Encyclopedias</a>
			</li>
			<li class="col-lg-3 col-sm-4 col-6 nav-item">
				<a href="#history" class="nav-link" role='pill' data-toggle="pill">History</a>
			</li>
			<li class="col-lg-3 col-sm-4 col-6 nav-item">
				<a href="#natural" class="nav-link" role='pill' data-toggle="pill">Natural Sciences</a>
			</li>
			<li class="col-lg-3 col-sm-4 col-6 nav-item">
				<a href="#exam" class="nav-link" role='pill' data-toggle="pill">Exam Preparation</a>
			</li>
			<li class="col-lg-3 col-sm-4 col-6 nav-item">
				<a href="#commerce" class="nav-link" role='pill' data-toggle="pill">Commerce and Accounting</a>
			</li>
			<li class="col-lg-3 col-sm-4 col-6 nav-item">
				<a href="#religion" class="nav-link" role='tab' data-toggle="pill">Religion and Spirituality</a>
			</li>
		</ul>
	</div>
	<div class="tab-content">
		<div class="tab-pane fade show active" role="tabpanel" id="computer">
			<div class="row mt-3">
				{% for book in books %}
					{% if book.genre == 'Non-fiction' and book.ordered_by == None %}
						{% if book.sub_genre == 'Computers and Technology' %}
							<div class="col-sm-4 text-center books  mb-2">
								<figure class="mt-4">
									<img src="{{ url_for('static', filename='users_images/' + book.book_front) }}" width="145" height="220" class="book_image">
									<figcaption>
										<h5 style="color: white"><a href="{{ url_for('books.book_page', book_id=book.id) }}" class="book_link">{{ book.book_name }}</a></h5>
										<h5><small class="text-muted">By {{ book.author_name }}</small></h5>
									</figcaption>
								</figure>
							</div>
						{% endif %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="tab-pane fade" role="tabpanel" id="encylopedia">
			<div class="row mt-3">
				{% for book in books %}
					{% if book.genre == 'Non-fiction' %}
						{% if book.sub_genre == 'Encyclopedias' %}
							<div class="col-sm-4 text-center books  mb-2">
								<figure class="mt-4">
									<img src="{{ url_for('static', filename='users_images/' + book.book_front) }}" width="145" height="220" class="book_image">
									<figcaption>
										<h5 style="color: white"><a href="{{ url_for('books.book_page', book_id=book.id) }}" class="book_link">{{ book.book_name }}</a></h5>
										<h5><small class="text-muted">By {{ book.author_name }}</small></h5>
									</figcaption>
								</figure>
							</div>
						{% endif %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="tab-pane fade" role="tabpanel" id="history">
			<div class="row mt-3">
				{% for book in books %}
					{% if book.genre == 'Non-fiction' %}
						{% if book.sub_genre == 'History' %}
							<div class="col-sm-4 text-center books  mb-2">
								<figure class="mt-4">
									<img src="{{ url_for('static', filename='users_images/' + book.book_front) }}" width="145" height="220" class="book_image">
									<figcaption>
										<h5 style="color: white"><a href="{{ url_for('books.book_page', book_id=book.id) }}" class="book_link">{{ book.book_name }}</a></h5>
										<h5><small class="text-muted">By {{ book.author_name }}</small></h5>
									</figcaption>
								</figure>
							</div>
						{% endif %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="tab-pane fade" role="tabpanel" id="natural">
			<div class="row mt-3">
				{% for book in books %}
					{% if book.genre == 'Non-fiction' %}
						{% if book.sub_genre == 'Natural Sciences' %}
							<div class="col-sm-4 text-center books  mb-2">
								<figure class="mt-4">
									<img src="{{ url_for('static', filename='users_images/' + book.book_front) }}" width="145" height="220" class="book_image">
									<figcaption>
										<h5 style="color: white"><a href="{{ url_for('books.book_page', book_id=book.id) }}" class="book_link">{{ book.book_name }}</a></h5>
										<h5><small class="text-muted">By {{ book.author_name }}</small></h5>
									</figcaption>
								</figure>
							</div>
						{% endif %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="tab-pane fade" role="tabpanel" id="exam">
			<div class="row mt-3">
				{% for book in books %}
					{% if book.genre == 'Non-fiction' %}
						{% if book.sub_genre == 'Exam preparation' %}
							<div class="col-sm-4 text-center books  mb-2">
								<figure class="mt-4">
									<img src="{{ url_for('static', filename='users_images/' + book.book_front) }}" width="145" height="220" class="book_image">
									<figcaption>
										<h5 style="color: white"><a href="{{ url_for('books.book_page', book_id=book.id) }}" class="book_link">{{ book.book_name }}</a></h5>
										<h5><small class="text-muted">By {{ book.author_name }}</small></h5>
									</figcaption>
								</figure>
							</div>
						{% endif %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="tab-pane fade" role="tabpanel" id="commerce">
			<div class="row mt-3">
				{% for book in books %}
					{% if book.genre == 'Non-fiction' %}
						{% if book.sub_genre == 'Commerce & Accounting' %}
							<div class="col-sm-4 text-center books  mb-2">
								<figure class="mt-4">
									<img src="{{ url_for('static', filename='users_images/' + book.book_front) }}" width="145" height="220" class="book_image">
									<figcaption>
										<h5 style="color: white"><a href="{{ url_for('books.book_page', book_id=book.id) }}" class="book_link">{{ book.book_name }}</a></h5>
										<h5><small class="text-muted">By {{ book.author_name }}</small></h5>
									</figcaption>
								</figure>
							</div>
						{% endif %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="tab-pane fade" role="tabpanel" id="religion">
			<div class="row mt-3">
				{% for book in books %}
					{% if book.genre == 'Non-fiction' %}
						{% if book.sub_genre == 'Religion & Spirituality' %}
							<div class="col-sm-4 text-center books  mb-2">
								<figure class="mt-4">
									<img src="{{ url_for('static', filename='users_images/' + book.book_front) }}" width="145" height="220" class="book_image">
									<figcaption>
										<h5 style="color: white"><a href="{{ url_for('books.book_page', book_id=book.id) }}" class="book_link">{{ book.book_name }}</a></h5>
										<h5><small class="text-muted">By {{ book.author_name }}</small></h5>
									</figcaption>
								</figure>
							</div>
						{% endif %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div> 
{% endblock content %}