{% extends 'layout.html' %}
{% block for_logo %}
    <img src="{{ url_for('static',filename='admin_images/logo2.png') }}" height="250" width="300" id="central-logo">
{% endblock for_logo %}
{% block pagewelcome %}
    <h1>Choose a payment method for {{ book.book_name }}</h1>
{% endblock pagewelcome %}
{% block content %}
  <div class="row align-items-center">
    <div class="col-6 col-sm-4 col-xl-3 text-center books  mb-2">
      <figure class="mt-4">
        <img src="{{ url_for('static', filename='users_images/' + book.book_front) }}" width="145" height="220" class="book_image">
        <figcaption>
          <h5 style="color: white"><a href="{{ url_for('books.book_page', book_id=book.id) }}" class="book_link">{{ book.book_name }}</a></h5>
          <h5><small class="text-muted">By {{ book.author_name }}</small></h5>
        </figcaption>
      </figure>
    </div>
    <div class="col-6 col-sm-8 col-xl-9 text-center">
      <div class="row align-items-center">
        <button type="button" id="checkout-button" class="btn btn-primary btn-lg btn-block"><span class="fa fa-credit-card fa-lg"></span> Pay with card</button>
        <button type="button" class="btn btn-success btn-lg btn-block" id="pay_with_cash" disabled><span class="fa fa-money-bill fa-lg"></span> Pay on Delivery</button>
        <p class="text-danger"><small>Not available now!</small></p>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-12 text-center">
      <div class="card bg-dark">
        <div class="card-header">
          <h1 class="payment-header">Confirm your address!</h1>
        </div>
        {% if current_user.is_authenticated %}
          <div class="card-body bg-warning text-danger">
            <h3> {{ display_address }} </h3>
            <br>
            <button class="btn btn-primary address_update">My address has changed!</button>
            <br><br>
            <div id="update_my_address" class="bg-dark px-3 py-3 text-light">
              <form method='POST' action="">
                {{ form.hidden_tag() }}
                <fieldset>
                  <legend class="text-center"><h3>Address</h3></legend>
                  <div class='form-group row'>
                      <div class="col-sm-6 mb-3">
                          {{ form.street.label(class='form-label') }}
                          {% if form.street.errors %}
                              {{ form.street( class='form-control form-control-lg is-invalid' ) }}
                              <div class="invalid-feedback">
                                  {% for error in form.street.errors %}
                                      <span>{{ error }}</span>
                                  {% endfor %}
                              </div>
                          {% else %}
                              {{ form.street( class='form-control form-control-lg' ) }}
                          {% endif %}
                      </div>
                      <br>
                      <div class="col-sm-6">
                          {{ form.city.label(class='form-label') }}
                          {% if form.city.errors %}
                              {{ form.city( class='form-control form-control-lg is-invalid' ) }}
                              <div class="invalid-feedback">
                                  {% for error in form.city.errors %}
                                      <span>{{ error }}</span>
                                  {% endfor %}
                              </div>
                          {% else %}
                              {{ form.city( class='form-control form-control-lg' ) }}
                          {% endif %}                    
                      </div>
                  </div>
                  <div class='form-group row'>
                      <div class="col-sm-6 mb-3">
                          {{ form.state.label(class='form-label') }}
                          {% if form.state.errors %}
                              {{ form.state( class='form-control form-control-lg is-invalid' ) }}
                              <div class="invalid-feedback">
                                  {% for error in form.state.errors %}
                                      <span>{{ error }}</span>
                                  {% endfor %}
                              </div>
                          {% else %}
                              {{ form.state( class='form-control form-control-lg' ) }}
                          {% endif %}                    
                      </div>
                      <div class="col-sm-6">
                          {{ form.countries.label(class='form-label') }}
                          {% if form.countries.errors %}
                              {{ form.countries( class='form-control form-control-lg is-invalid country_list' ) }}
                              <div class="invalid-feedback">
                                  {% for error in form.countries.errors %}
                                      <span>{{ error }}</span>
                                  {% endfor %}
                              </div>
                          {% else %}
                              {{ form.countries( class='form-control form-control-lg country_list' ) }}
                          {% endif %}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 mb-3">
                            {{ form.pincode.label(class='form-label') }}
                            {% if form.pincode.errors %}
                                {{ form.pincode( class='form-control form-control-lg is-invalid' ) }}
                                <div class="invalid-feedback">
                                    {% for error in form.pincode.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.pincode( class='form-control form-control-lg' ) }}
                            {% endif %}                    
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <div class="col-sm-6">
                            {{ form.submit( class='btn btn-primary submit_button pr-5 pl-5' ) }}
                        </div>
                        <div class="col-sm-6">
                          <div class="btn btn-danger cancel_address_change pr-5 pl-5">Cancel</div>
                        </div>
                    </div>
                </fieldset>
              </form>
            </div>
          </div>
        {% else %}
          <h3 class="text-warning py-2">Please <a href="{{ url_for('users.login') }}">login</a> to order a book!</h3>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
{% block only_for_payment %}
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    const checkout_public_key = '{{ checkout_public_key }}';
    const checkout_session_id = '{{ checkout_session_id }}';
  </script>
  <script src="{{ url_for('static',filename='js/payments.js') }}"></script>
{% endblock only_for_payment %}