{% extends 'layout.html' %}
{% block for_logo %}
    <img src="{{ url_for('static',filename='admin_images/logo2.png') }}" height="250" width="300" id="central-logo">
{% endblock for_logo %}
{% block pagewelcome %}
	<h1>Create a new password for your account</h1>
{% endblock pagewelcome %}
{% block content %}
	<form method="POST" action="">
        {{ form.hidden_tag() }}
		<div class="form-group row">
			<div class="col-12">
                {{ form.password.label(class='form-label') }}
                {% if form.password.errors %}
                    {{ form.password(class='form-control form-control-lg is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password( class='form-control form-control-lg' ) }}
                {% endif %}
            </div>
		</div>
        <div class="form-group row">
            <div class="col-12">
                {{ form.confirm_password.label(class='form-label') }}
                {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class='form-control form-control-lg is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.confirm_password( class='form-control form-control-lg' ) }}
                {% endif %}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12 text-center">
                {{ form.submit( class='btn btn-primary submit_button pr-5 pl-5' ) }}
            </div>
        </div>
	</form>
{% endblock content %}