body{
	background-image:linear-gradient(rgba(4,13,33,70%),rgba(4,13,33,70%)),url(../admin_images/library.jpg);
	background-color: ;
	color: floralwhite;
}
.row-content{
	padding: 50px 0 50px 0;
	border-bottom: 1px ridge;
}
.navbar-dark{
	background-color: #131313;
}
.main-nav{
	margin-right: 20px;
	padding: 5px;
	border-radius: 5px;
}
.main-nav:hover{
	background-color: orange;
}
#first-nav:hover{
	color:white;
}
.jumbotron{
	padding-top: 150px;
	background: url(../admin_images/background.png);
	background-repeat: repeat-x;
}
#caption-header{
	margin-right: -50px;
	background: linear-gradient(#ff8372,#ffcd7c);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
#bdhead{
	margin-top: 50px;
	background: linear-gradient(to right,#ff8372,#ffcd7c);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-weight: bolder;
	font-size: 50px;
}
#upload-header{
	background: linear-gradient(to right,#9df4d3,#72bef4);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-weight: bold;
	font-size: 45px;
}
#AAbnd{
	background: linear-gradient(to right,#9df4d3,#72bef4);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-weight: bolder;
}
#genre-header{
	background: linear-gradient(to right,#9df4d3,#72bef4);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-weight: bolder;
}
.request-form{
	background: linear-gradient(to right,#9df4d3,#72bef4);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-weight: bolder;
}
.accountcontrib{
	background: linear-gradient(to right,#9df4d3,#72bef4);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-weight: bolder;
}
.pending-requests{
	background: linear-gradient(to right,#ff8372,#ffcd7c);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-weight: bold;	
}
.payment-header{
	background: linear-gradient(to right,#9df4d3,#72bef4);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-weight: bold; 
}
.carousel-img{
	position:absolute;
	left:0;
	top:0;
}
#tap1,#tap2,#tap3,#tap4,#tap5,#tap6{
	color:yellow;
	display: none;
}
#tap-link1,#tap-link2,#tap-link3,#tap-link4,#tap-link5,#tap-link6{
	text-decoration: none;
	color: #0096d6;
}
#map1,#map2{
	color: #38d9a9;
	display:none;
}
#map-link1,#map-link2{
	text-decoration: none;
	color: #0096d6;
}
#instagram{
	background-image: linear-gradient(to bottom left,purple, purple, magenta, orange, yellow);
}
#cap1,#cap2,#cap3,#cap4,#cap5{
	color:magenta;
	display: none;
}
#cap-link1,#cap-link2,#cap-link3,#cap-link4,#cap-link5{
	text-decoration: none;
	color: #0096d6;
}
#foot li{
	margin-top: 10px;
}
footer{
	background-color: #131313;
}
.blockquote-footer{
	color: floralwhite;
}
.fiction{
	padding: 8px;
	color: floralwhite;
}
#explore{
	margin-right: -50px;
	background: #1971c2;
	font-size: 20px;
	border: 1px #1665ab solid;
	border-radius: 10px;
	border-bottom: 5px #1665ab solid;
}
.fiction:hover{
	color: floralwhite;
	text-decoration: none;
}
#explore:hover{
	background: #4083C2;
}
#p1{
	color: magenta;
	font-weight: bold;
	font-size: 22px;
}
#p2{
	color: #ff8787;
	font-weight: bold;
	font-size: 22px;
}
#p3{
	color: #38d9a9;
	font-weight: bold;
	font-size: 22px;
}
#bio{
	color: #2b2b2b;
}
#login:hover{
	cursor: pointer;
}
#signup:hover{
	cursor: pointer;
}
.modal-header{
	background: url(../admin_images/background.png);
}
.modal-dialog{
	pointer-events: all;
}
.close{
	color: white;
	background-color: #ff0000;
	padding-left: 10px;
	padding-bottom: 10px;
}
.close:hover{
	color: white;
	background-color: #ff0000;
}
.modal-dark{
	background-color: #2b2b2b;
}
.form-control{
	border: 2px solid #ddd;
	border-bottom: 6px solid #dddfff;
	font-weight: bold;
	padding: 10px;
}
.savebtn{
	border: 2px #0069D9 solid;
	border-bottom: 6px #0069D9 solid;
	padding: 10px 50px 10px 50px;
	font-size: 20px;
}
#noform{
	font-size: 20px;
}
#noform:hover{
	text-decoration: none;
}
#king{
	font-size: 20px;
}
#king:hover{
	text-decoration: none;
}
#algore{
	font-size: 20px;
}
#algore:hover{
	text-decoration: none;
}
#high{
	color: skyblue;
}
#kindan{
	color: #ff8787;
}
#crux{
	color: #ffa94d;
}
.accord{
	background-color: #02B37E;
	cursor: pointer;
}
.card-body{
	background: #131313;
}
.card{
	border: none;
}
#accordion{
	border: 1px grey solid;
	border-bottom: 5px grey solid;
}
#faq-head{
	background: linear-gradient(to right,#ff8372,#ffcd7c);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-weight: bold;
}
#accord_body{
	background-color: #38d9a9;
	color: #2b2b2b;
}
#me{
	background: #ff8787;
}
.donor-head{
	background: none;
	background-color: #02B37E;
}
#donor-body{
	background-color: #38d9a9;
	color: #2b2b2b;
}
#donate-btn-1{
	border: 2px #0057B3 solid;
	border-bottom: 6px #0057B3 solid;
	font-size: 20px;
}
#donate-btn-2{
	border: 2px #0057B3 solid;
	border-bottom: 6px #0057B3 solid;
	font-size: 20px;
}
#request-btn-1{
	border: 2px #0057B3 solid;
	border-bottom: 6px #0057B3 solid;
	font-size: 20px;
	color: white;
}
#request-btn-2{
	border: 2px #0057B3 solid;
	border-bottom: 6px #0057B3 solid;
	font-size: 20px;
	color: white;
}
#contact{
	color: lightgreen;
}
.col-form-label{
	font-size: 25px;
}
#sendfeed{
	border: 2px #0057B3 solid;
	border-bottom: 6px #0057B3 solid;
	font-size: 20px;	
}
.contributor{
	cursor: pointer;
}
.genre-1, .genre-2, .genre-3, .genre-4, .genre-5, .genre-6{
	font-size: x-large;
	background: #131313;
	min-height: auto;
	color: white;
}
.genre-1:hover, .genre-2:hover, .genre-3:hover, .genre-4:hover, .genre-5:hover, .genre-6:hover{
	box-shadow: 2px 2px 20px 2px #131313;
}
.genre-list{
	background: url(../admin_images/background.png);
}
.genre-image-1, .genre-image-2, .genre-image-3, .genre-image-4, .genre-image-5, .genre-image-6{
	color: #1b95e2;
}
.form-label{
	font-size: 22px;
}
.submit_button{
	border: 1px solid blue;
	border-bottom: 5px solid blue ;
	font-size: 22px;
	font-weight: bold;
	padding: 10px;
}
.country_list{
	padding:0rem;
	padding-left: 10px;
	/* border: none; */
}
.alert{
	font-size: large;
}
.profile-editor{
	border: 1px solid blue;
	border-bottom: 5px solid blue ;
	font-size: 22px;
	font-weight: bold;
	padding: 10px;
}
.updating_form{
	display: none;
	border-bottom: solid 2px orange;
}
.cancel_btn{
	border: 1px solid red;
	border-bottom: 5px solid red ;
	font-size: 22px;
	font-weight: bold;
	padding: 10px;
}
.genre_select{
	padding:0rem;
	padding-left: 10px;
	/* border: none; */
}
.tab-pane{
	/*background: url(../admin_images/background.png);
	background-repeat: repeat-y;*/
	background-color: none;
	padding: 20px;
	margin-top: 5px;
	color: black;
}
#sub_genre_id{
	display: none;
}
.book_image:hover{
	box-shadow: 2px 2px 20px 2px gray;
}
.book_link{
	color: white;
}
.book_link:hover{
	color: white;
	text-decoration-color: white;
}
.donor_specs{
	background: linear-gradient(to right,#ff8372,#ffcd7c);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-weight: bolder;
}
.view_diff{
	background-color: white;
}
#search{
	position: absolute;
	top: 90px;
	left: 30px;
	background-color: #515e7b;
	border-radius: 90%;
	z-index: 10;
}
.searchbox{
	display: none;
	position: absolute;
	top: 90px;
	left: 30px;
	width: 100%;
}
#searchbar{
	width: 90%;
	padding: 8px;
	border-radius: 20px;
	border: none;
	background-color: #515e7b;
	color: white;
	padding-left: 55px;
	padding-right: 50px;
	outline: none;
	box-shadow: 2px 2px 10px 2px gray;
}
#searchbar::placeholder{
	color: rgba(256,256,256,50%);
}
.search_close{
	position: relative;
	right: 30px;
	color: orange;
}
#submitsearch{
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #515e7b;
	border-radius: 90%;
	z-index: 10;
	border: none;
}
#submitsearch:hover{
	outline: none;
}
.contorreq{
	cursor: pointer;
}
.request-header{
	background-color: #02B37E;
}
.request-body{
	background-color: #38d9a9;
	color: #2b2b2b;	
}
.pending{
	color: gold;
}
#checkout-button{
	border: 2px #0057B3 solid;
	border-bottom: 6px #0057B3 solid;
	font-size: 20px;
	color: white;
}
#pay_with_cash{
	border: 2px darkgreen solid;
	border-bottom: 6px darkgreen solid;
	font-size: 20px;
	color: white;
}